{% extends 'admin_page/base.html.twig' %}

{% block title %}Admin Page | New Category
{% endblock %}

{% block body %}
	<!--begin::Horizontal Form-->
	<div
		class="card card-warning card-outline m-4 w-50">
		<!--begin::Header-->
		<div class="card-header">
			<div class="card-title">New category</div>
		</div>
		<!--end::Header-->
		<!--begin::Form-->
		<form
			action="{{ url('add_category', parameters = [], schemeRelative = false) }}" method="POST">
			<!--begin::Body-->
			<div class="card-body">
				<div class="row mb-3">
					<label for="inputName" class="col-sm-2 col-form-label">Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="inputName" name="name"/>
					</div>
				</div>
				<div class="row mb-3">
					<label for="validationCustom04" class="col-sm-2 col-form-label">Sub category</label>
					<div class="col-sm-10">
						<select class="form-select" id="validationCustom04" name="parentId">
							<option selected disabled value="0">Choose...</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
						</select>
					</div>
				</div>
				<fieldset class="row mb-3">
					<legend class="col-form-label col-sm-2 pt-0">Status</legend>
					<div class="col-sm-10">
						<div class="form-check">
							<input class="form-check-input" type="radio" name="status" id="gridRadios1" value="1" checked/>
							<label class="form-check-label" for="gridRadios1">
								Active
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="status" id="gridRadios2" value="0"/>
							<label class="form-check-label" for="gridRadios2">
								In Active
							</label>
						</div>
					</div>
				</fieldset>
			</div>
			<!--end::Body-->
			<!--begin::Footer-->
			<div class="card-footer">
				<button type="submit" class="btn btn-primary">Create</button>
			</div>
			<!--end::Footer-->
		</form>
		<!--end::Form-->
	</div>
	<!--end::Horizontal Form-->
{% endblock %}
