<footer class="footer">
	<div class="grid wide footer__content">
		<div class="row">
			<div class="col l-2-4 m-4 c-6">
				<h3 class="footer__heading">Chăm sóc khách hàng</h3>
				<ul class="footer-list">
					<li class="footer-item">
						<a href="#" class="footer-item__link">Trung tâm trợ giúp</a>
					</li>
					<li class="footer-item">
						<a href="#" class="footer-item__link">KShop mail</a>
					</li>
					<li class="footer-item">
						<a href="#" class="footer-item__link">Hướng dẫn mua hàng</a>
					</li>
				</ul>
			</div>
			<div class="col l-2-4 m-4 c-6">
				<h3 class="footer__heading">Về ticked</h3>
				<ul class="footer-list">
					<li class="footer-item">
						<a href="#" class="footer-item__link">Giới thiệu</a>
					</li>
					<li class="footer-item">
						<a href="#" class="footer-item__link">Tuyển dụng</a>
					</li>
					<li class="footer-item">
						<a href="#" class="footer-item__link">Điều khoản</a>
					</li>
				</ul>
			</div>
			<div class="col l-2-4 m-4 c-6">
				<h3 class="footer__heading">Danh mục</h3>
				<ul class="footer-list">
					<li class="footer-item">
						<a href="#" class="footer-item__link">Laptop Gaming</a>
					</li>
					<li class="footer-item">
						<a href="#" class="footer-item__link">Laptop Văn Phòng</a>
					</li>
					<li class="footer-item">
						<a href="#" class="footer-item__link">Laptop Đồ Họa</a>
					</li>
				</ul>
			</div>
			<div class="col l-2-4 m-4 c-6">
				<h3 class="footer__heading">Theo dõi chúng tôi trên</h3>
				<ul class="footer-list">
					<li class="footer-item">
						<a href="#" class="footer-item__link">
							<i class="footer-item__icon fa-brands fa-facebook"></i>
							Facebook
						</a>
					</li>
					<li class="footer-item">
						<a href="#" class="footer-item__link">
							<i class="footer-item__icon fa-brands fa-instagram"></i>
							Instagram
						</a>
					</li>
					<li class="footer-item">
						<a href="#" class="footer-item__link">
							<i class="footer-item__icon fa-brands fa-linkedin"></i>
							LinkedIn
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="grid wide">
			<p class="footer_text">© 2022 - Bản quyền thuộc về Công ty Shopee.vn</p>
		</div>
	</div>
</footer>
